.advantages__header {
  width: 70%;

  @include vp-767 {
    width: 100%;
  }
}

.advantages__header h2 {
  margin: 0 0 40px;
  font-size: 56px;
  font-weight: 900;
  line-height: 56px;
  letter-spacing: -1.12px;

  @include vp-767 {
    margin: 0 0 32px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.64px;
  }
}

.advantages__wrapper {
  margin: 0 0 0 2px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 62px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 400px;

  @include vp-767 {
    flex-direction: row;
    align-items: center;
    max-width: 100%;
  }
}

.advantages__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 83px;

  & svg {
    margin: 2px 0 0 10px;
    fill: $color-default-profect;
  }

  &::before {
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &--ruble {
    &::before {
      top: 13px;
      left: 3px;
      width: 58px;
      height: 58px;
      background-image: url("../img/advantages/bg-ruble.png");
      background-size: 58px 58px;
    }
  }

  &--scooter {
    & svg {
      margin: 0;
    }

    &::before {
      top: 11px;
      right: 17px;
      width: 43px;
      height: 44px;
      background-image: url("../img/advantages/bg-scooter.png");
      background-size: 43px 44px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -11px;
      width: 26px;
      height: 19px;
      background-image: url("../img/svg/advantages-scooter-3.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 26px 19px;
    }
  }

  &--watch {
    &::before {
      top: 22px;
      left: 11px;
      width: 43px;
      height: 44px;
      background-image: url("../img/advantages/bg-watch.png");
      background-size: 43px 44px;
    }
  }

  &--charger {
    &::before {
      top: 14px;
      left: 0;
      width: 53px;
      height: 60px;
      background-image: url("../img/advantages/bg-charger.png");
      background-size: 53px 60px;
    }
  }
}

.advantages__info p {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;

  @include vp-767 {
    font-size: 16px;
    line-height: 19.2px;
  }
}
