.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 48px;
  background-color: $color-yellow;
  box-shadow: 0 4px 98px 0 $color-yellow-opacity-59;
  border: none;
  border-radius: 36px;
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
  user-select: none;

  @include vp-767 {
    padding: 18px 0;
    font-size: 18px;
  }
}
