.hero-main {
  position: relative;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;

  @include vp-767 {
    max-width: 100%;
  }
}

.hero-main h2 {
  margin: 0 0 28px;
  font-size: 72px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -1.44px;

  @include vp-767 {
    margin: 0 0 24px;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.72px;
  }
}

.hero-main p {
  margin: 0 0 36px;
  line-height: 31.2px;

  @include vp-767 {
    margin: 0;
    font-size: 18px;
    line-height: 23.4px;
  }
}

.hero-main__price {
  padding: 2px 12px 2px 0;
  border-radius: 500px;
  background: $white-and-periwinkle;
}

.hero-main__now-price {
  padding: 2px 12px;
  color: $color-brown-olive;
  background: $lilac-and-periwinkle;
  border-radius: 500px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;

  @include vp-767 {
    font-size: 18px;
    line-height: 21.6px;
  }
}

.hero-main__old-price {
  color: $color-gray;
  margin: 0 0 2px;
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;

  @include vp-767 {
    font-size: 13px;
    line-height: 15.6px;
  }
}

.hero-main a {
  @include vp-767 {
    position: fixed;
    width: calc(100% - 64px);
    bottom: 24px;
    box-shadow: none;
    z-index: 6;
  }
}
