@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Text";

  font-display: swap;
  src: url("../fonts/text-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Text";

  font-display: swap;
  src: url("../fonts/text-medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Text";

  font-display: swap;
  src: url("../fonts/text-black.woff2") format("woff2");
}
