// Colors
// ---------------------------------

// Default

$color-default-profect:             #21201f;
$color-default-profect-opacity-70:    rgb(33, 32, 31, 0.7);
$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;
$color-brown-olive:                 #2e2c21;
$color-silver:                      #c5c5c5;
$color-gray:                        #808080;;
$color-yellow:                      #ffde40;
$color-yellow-opacity-59:           rgb(255, 222, 64, 0.59);

// Gradient

$black-to-right:                     linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

$white-to-bottom-gradient:           linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #ffffff 100%);
$red-and-blue-gradient:              linear-gradient(90deg, #ff5c4d 0%, #eb469f 25%, #8341ef 72%, #3f68f9 100%);
$white-opacity-20-to-right-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%);
$hero-bg:                            var(--Linear, $white-opacity-20-to-right-gradient, $red-and-blue-gradient);

$lilac-and-periwinkle:               radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
$white-and-periwinkle:               linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);;


// Typography
// ---------------------------------

$fz-default: 24px;
$ff-fallback: "Arial", "sans-serif";
$ff-text: "Text", $ff-fallback;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-1200:                           1200px;
$vp-768:                            768px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
